// Specific CSS for your home-page
.card-picture {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(41, 41, 41);
}
.card-pokemon{
  flex-grow: 1;
  border: 1px solid rgb(0, 0, 0);
}
.card-body{
  

}
