.pokemon-info {
  padding: 10px 80px 5px;
}

.pokemon-name {
  padding: 1em;
  margin-top: 2em;
  color: #646464;
}

.btn-outline-info {
  margin: O auto;
}

.info {
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
  color: #646464;
}

.username {
  font-style: italic;
  color: #9c9c9c;
}

li {
  padding: 10px;
}

.d-flex {
  border-style: solid;
  padding: 2em;
  border-color: #6c757d;
  border-width: 1px;
  border-radius: 5px;
}

.btn-outline-secondary {
  margin-bottom: 1em;
}
