.all-cards {
  background-color: white;
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
}

.user-details {
  margin: 4em;
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
  background-color: light-gray;
  padding: 2em;
  color: #646464;
}

.user-li {
  list-style: none;
}

.pokemons-user {
  margin: 4em;
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
  background-color: light-gray;
  padding: 2em;
  color: #646464;

}

.pokemons-rent {
  margin: 4em;
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
  background-color: light-gray;
  padding: 2em;
  color: #646464;

}
